#container{
  border: 1px solid black;
  width:600px;
  height:450px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

#slider-image{
  width: 2400px;
  margin-bottom: -4px;
}

#slider-image img{
  width:600px;
  margin-right: -4px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active{
  background-color: red;
}

